
<h2>Пример динамической вставки компонента (ngx-dynamic-hooks)</h2>

Можно вставить компонент без параметра (должен вывести "EXAMPLE"):<br />
<code>&lt;app-example&gt;&lt;/app-example&gt;</code>

<br /><br />

Можно вставить компонент с передачей параметра text (должен вывести переданную строку)<br />
<code>&lt;app-example [text]="'some text'"&gt;&lt;/app-example&gt;</code>

<br /><br />

Можно даже вставить целиком корневой компонент приложения! И в нем тоже будет работать динамическая вставка!<br />
<code>&lt;app-root&gt;&lt;/app-root&gt;</code>

<br /><br />

Динамически создаваемые компоненты корректно создаются и уничтожаются (OnInit и OnDestroy выводятся в консоль).<br />
Способ пригоден только для создания компонентов. Директивы, не создающие компонентов (в т.ч. структурные директивы NgIf, NgFor и т.п.) <b>НЕ</b> работают.

<br /><br />

Динамически создаваемые компоненты должны быть явным образом указаны при инициализации парсера (см. app.module.ts). Неупомянутые там компоненты создаваться не будут.

<br /><br /><hr /><br />

Пример динамической вставки: из инпута читается HTML и рендерится в блок под кнопкой<br />
<textarea [(ngModel)]="htmlString"></textarea>

<br /><button type="button" (click)="embedContent()">embed content</button><br />

<div>
    <ngx-dynamic-hooks [content]="dynamicContent"></ngx-dynamic-hooks>
</div>
